<p id="notice"><%= notice %></p>

<h1>Listing Poaching Reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poaching_reports.each do |poaching_report| %>
      <tr>
        <td><%= link_to 'Show', poaching_report %></td>
        <td><%= link_to 'Edit', edit_poaching_report_path(poaching_report) %></td>
        <td><%= link_to 'Destroy', poaching_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poaching report', new_poaching_report_path %>
