<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Antipoachingbackend" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Antipoachingbackend" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
       <%= render 'layouts/messages' %>
      
        <%= render("partials/jumbotron") if @show_jumbotron  %>
       <div class="container">
        <%= yield %>
       </div>
        <%= render("partials/widemap") if @show_jumbotron  %>

    </main>
  </body>
</html>
